{% extends 'base-backend.html.twig' %}

{% block title %}Liste des Logements{% endblock %}

{% block body %}


    <div class="d-flex flex-wrap justify-content-between align-items-center">
    <h1>Liste des logements</h1>
    <a href="{{ path('app_admin_lodging_new') }}"class="btn btn-success"><i class="align-middle" data-feather="plus"></i></a> 
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Titre du logement</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Département</th>
                <th>Catégorie</th>
                <th>Description</th>
                <th>Hôte</th>
                <th>Equipements</th>
                <th>Photos</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lodging in lodgings %}
            <tr>
                <td>{{ lodging.titleLod }}</td>
                <td>{{ lodging.addressLod }}</td>
                <td>{{ lodging.zipcodeLod }}</td>
                <td>{{ lodging.cityLod }}</td>
                <td>
                    <ul>
                    {% if lodging.department is not null %}
                        <li>{{ lodging.department.nameDepartment }}</li>
                    {% endif %}
                    </ul>
                </td>
                <td>
                    <ul>
                    {% if lodging.category is not null %}
                        <li>{{ lodging.category.nameCat }}</li>
                    {% endif %}
                    </ul>
                </td>
                <td>{{ lodging.descriptionLod }}</td>
                {# <td>
                    <ul>
                    {% if lodging.host is not null %}
                        <li>{{ lodging.host.lastName }} {{ lodging.host.firstName }}</li>
                    {% endif %}
                    </ul>
                </td> #}

                <td>
                    <ul>
                    {% for equipement in lodging.equipements %}
                        <li>{{ equipements }}</li>
                    {% endfor %}
                    </ul>
                </td>

                <td>
                    <ul>
                    {% if lodging.equipements is not null %}
                        <li>{{ lodging.equipements.descriptionEquip }}</li>
                    {% endif %}
                    </ul>
                </td>
                {# <td>{{ lodging.imageFile }}</td> #}
                <td>

                <td class="text-end">
                    <a href="{{ path('app_admin_lodging_show', {'id': lodging.id}) }}"class="btn btn-warning"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_lodging_edit', {'id': lodging.id}) }}"class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun logement n'est renseigné</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
