{% extends 'base-backend.html.twig' %}

{% block title %}Liste des Logements{% endblock %}

{% block body %}

{% for label, messages in app.flashes() %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
        {% endfor %}
{% endfor %}
    <div class="d-flex flex-wrap justify-content-between align-items-center">
    <h1>Liste des logements</h1>
    <a href="{{ path('app_admin_lodging_new') }}"class="btn btn-success"><i class="align-middle" data-feather="plus"></i></a> 
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>ImageName</th>
                <th>Slug</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lodging in lodgings %}
            <tr>
                <td>{{ lodging.id }}</td>
                <td>{{ lodging.titleLod }}</td>
                <td>{{ lodging.descriptionLod }}</td>
                <td>{{ lodging.imageNameLod }}</td>
                <td>{{ lodging.slugLod }}</td>
                <td class="text-end">
                    <a href="{{ path('app_admin_lodging_show', {'id': lodging.id}) }}"class="btn btn-warning"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_lodging_edit', {'id': lodging.id}) }}"class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun logement n'est renseigné</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
