{% extends 'base.html.twig' %}

{% block title %}Lodging index{% endblock %}

{% block body %}
    <h1>Lodging index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DescriptionLod</th>
                <th>ImageNameLod</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>SlugLod</th>
                <th>TitleLod</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lodging in lodgings %}
            <tr>
                <td>{{ lodging.id }}</td>
                <td>{{ lodging.descriptionLod }}</td>
                <td>{{ lodging.imageNameLod }}</td>
                <td>{{ lodging.longitude }}</td>
                <td>{{ lodging.latitude }}</td>
                <td>{{ lodging.slugLod }}</td>
                <td>{{ lodging.titleLod }}</td>
                <td>
                    <a href="{{ path('app_admin_lodging_show', {'id': lodging.id}) }}">show</a>
                    <a href="{{ path('app_admin_lodging_edit', {'id': lodging.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_lodging_new') }}">Create new</a>
{% endblock %}
