{% extends 'base-backend.html.twig' %}

{% block title %}Lodging{% endblock %}

{% block body %}
<a href="{{ path('app_admin_lodging_index') }}" class="btn btn-dark">Retour</a>
    <h1>Logement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre de l'hébergement</th>
                <td>{{ lodging.titleLod }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ lodging.addressLod }}</td>
            </tr>
            <tr>
                <th>Code Postal</th>
                <td>{{ lodging.zipCodeLod }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ lodging.cityLod }}</td>
            </tr>
            <tr>
                <th>Departement</th>
                <td>{{ lodging.department }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ lodging.category.nameCat }}</td>

            </tr>
            <tr>
                <th>Hôte</th>
                <td>{{ lodging.host.lastName}}</td>
            <tr>
                <th>Description</th>
                <td>{{ lodging.descriptionLod }}</td>
            </tr>
            <tr>
                <th>Nom de l'image</th>
                <td>{{ lodging.imageNameLod }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_lodging_edit', {'id': lodging.id}) }}" class="btn btn-success">Modifier</a>

    {{ include('admin_lodging/_delete_form.html.twig') }}
{% endblock %}
