{% extends 'base.html.twig' %}


{% block title %}Toits Unis{% endblock %} 


{% block body %}

<div class="banniere-home mx-0 mb-5"> 
    <h2 class="text-center titrehebergement  mx-auto" >Réseau d’hébergements solidaires pour créer du lien et reconstruire des vies</h2>
    <img src="{{ asset('/images/home/vecteur1pageacceuil.png') }}" class="img-fluid banniereSize" alt="banniere-home">
</div>

{# <div class="class-margin">
    <h2 class="text-center titre-orange mb-3" >Nos dernières annonces</h2>



    <div class="row m-0 p-0 justify-content-center">

        <div class="col-4 text-center">
            <img src="/images/lodgings/image3.jpg" class="card-img-top imgEnSavoirPlus rounded" alt="Rouen">
            <div class="card-body">
                <h5 class="card-title titre-bleu">76000 ROUEN</h5>
                <a href="#">
                <button type="submit" class="btn btn-orange m-2">En savoir plus</button>
                </a>
            </div>
        </div>
        
        <div class="col-4 text-center">
            <img src="/images/lodgings/image4.jpg" class="card-img-top imgEnSavoirPlus rounded" alt="Monpellier">
            <div class="card-body">
                <h5 class="card-title titre-bleu">34000 MONTPELLIER</h5>
                <a href="#">
                <button type="submit" class="btn btn-orange m-2">En savoir plus</button>
                </a> 
            </div>
        </div>

        <div class="col-4 text-center">
            <img src="/images/lodgings/image9.jpg" class="card-img-top imgEnSavoirPlus rounded" alt="Saint-ouen">
            <div class="card-body">
                <h5 class="card-title titre-bleu">93400 SAINT OUEN</h5>
                <a href="#">
                <button type="submit" class="btn btn-orange m-2">En savoir plus</button>
                </a>
            </div>
        </div>
    </div>

</div> #}

<div class="row d-flex justify-content-center m-2">
    {% for lodging in lodgings %}

        <div class="col-12 col-md-4 col-xl-3 m-3"> 
            <div class="card shadow">
                <img src="{{ asset('/images/lodgings/' ~ lodging.imageNameLod) }}" class="card-img-top" alt="{{lodging.titleLod}}">
                <div class="card-body text-center ">
                    <h5 class="card-title">{{lodging.titleLod}}</h5>
                    <a href="{{ path('app_lodging_show', { slugLod: lodging.slugLod }) }}" class="btn btn-bleu">En savoir plus</a>
                </div> 
            </div>
        </div> 

    {% endfor %}

    <div class="container m-4">
        <div class="text-center quisommenous m-5">
            <h2 class="titre-bleu">Qui sommes-nous ?</h2>
            <p class="text-center">Nous sommes Toits Unis une association à but non lucratif qui essaie d'accompagner des réfugiés dans leur itégration à une nouvelle vie en propposant des hébérgements d'accueil chez l'habitant.

Nous nous chargeons de trouver des hébérgements. Vous pouvez être hébérgé chez des familles ou particulier d'accueil dans une maison, dans un appartement ou dans une entreprise. </p>
            <a href="{{path('app_qui_sommes_nous') }}" class="btn btn-bleu">En savoir plus</a>
        </div>

        <div class="m-auto text-center w-100">
            <img src="{{ asset('/images/home/ccgroupe.jpg') }}" class="text-center w-75" alt="image accueil groupe">
        </div>


        <div class="row m-5 gap-5">

            <div class="col-12">
                <div class="d-flex flex-row col-12 gap-4 justify-content-center align-items-center"> 
                    <div class="text-center">
                        <h4 class="card-title titre-orange">Devenir hote</h4>
                        <p class="card-text text-start"> Pour devenir host au sein de Toits Unis qui propose des hébergements chez l'habitant pour les réfugiés,vous devrez passer par quelques étapes.
<br>
. Renseignez-vous sur les critères et les responsabilités 
<br>
. Contactez l'association 
<br>
. Entretien ou visite du logement 
<br>
. Réalisation des vérifications de sécurité 
<br>
. Formation et orientation  
<br>
. Accueil des réfugiés 
<br>
</p>
                        <a class=" btn btn-bleu" aria-current="page" href="{{path('app_comment_ca_marche_host') }}">Accueillir</a>
                    </div>
                    <img src="{{ asset('/images/home/accueil.jpg') }}" class="imageHome rounded" alt="accueil-porte">
                </div>
            </div>

            <div class="col-12">
                <div class="d-flex flex-row col-12 gap-4 justify-content-center align-items-center">
                    <img src="{{ asset('/images/home/accueilli.jpg') }}" class="imageHome rounded" alt="accueil">
                    <div class="text-center">
                        <h4 class="card-title titre-bleu">Rejoindre le réseau d'associations</h4>
                        <p class="card-text text-start"> Si vous souhaitez rejoindre le réseau de cette association et vous engager aupès des réfugiés,
                        <br>
                        Vous pouvez avoir les renseignements nécéssaires en cliquant sur le bouton "Rencontrer les associations partenaire.
                        <br>
</p>     
                        <a class="btn btn-bleu" href="{{ path('app_comment_ca_marche') }}">Rencontrer les associations partenaires</a>
                    </div>
                </div>
            </div>

        </div>



        <div class="col">
            <div class="card-soutenir d-flex flex-column text-center p-5">
                <h3 class="titre-jaune mb-3">Comment nous soutenir?</h3>
                <p class="text-align-right" id="text-soutenir"> Vous pouvez nous soutenir en faisant un don ou en offrant un hébergement :

Tout d'abord, vous pouvez faire un don financier pour soutenir les activités de l'association. 
<br>
Chaque contribution, quelle que soit sa taille, compte et contribue à offrir aux réfugiés un soutien essentiel dans leur parcours d'intégration. Votre don peut aider à fournir un logement sûr, à organiser des cours de langue, à financer des services d'accompagnement et à répondre aux besoins de base des réfugiés. En faisant un don, vous participez directement à la construction d'un avenir meilleur.
<br>
Une autre manière de soutenir l'association est d'offrir un hébergement chez vous. Si vous disposez d'une chambre libre et que vous êtes prêt à partager votre foyer, vous pouvez devenir une famille d'accueil pour les réfugiés. En ouvrant votre porte et en offrant un environnement chaleureux et accueillant, vous permettez aux réfugiés de se sentir en sécurité et de commencer leur parcours d'intégration dans les meilleures conditions possibles. En plus de l'hébergement, vous pouvez partager des repas, échanger des expériences culturelles et créer des liens précieux avec les personnes que vous accueillez.
<br>
Votre engagement envers cette cause humanitaire fera une réelle différence et apportera espoir et soutien à ceux qui en ont le plus besoin. </p>
                <br>
                <div><img src="{{ asset('images/home/ensemblededos3.jpg') }}" class="img-soutenir w-50" alt="image personnes"></div>

                <div>
                    <button class="btn btn-jaune mt-3">
                        <a href="https://www.helloasso.com/associations/toits-unis?_ga=2.223283035.1982753044.1687356120-1594343388.1687356120&_gac=1.14757188.1687356120.CjwKCAjwv8qkBhAnEiwAkY-ahs9BVRoxQF7fgNYwaAJFFN36M48WKtwYGPrK8735bVVPst2OZc0F1xoCvG4QAvD_BwE&_gl=1%2a157nq1g%2a_ga%2aMTU5NDM0MzM4OC4xNjg3MzU2MTIw%2a_ga_TKC826G3G2%2aMTY4NzQyMjQ4Ni41LjEuMTY4NzQyMjUxNS4zMS4wLjA.">
                            Faire un don
                        </a>
                    </button>
                </div>

                
            </div>  
        </div>

    <div class="container">
    <div class="row ">
        <div class="col-md-12">
            <div class="lc-block">
                <div id="carouselLogos" class="carousel slide pt-5 pb-4 text-align" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% set batchSize = 5 %}
                        {% set associationsBatched = associations|batch(batchSize) %}
                        {% for i, batch in associationsBatched %}
                            <div class="carousel-item{% if loop.first %} active{% endif %}">
                                <div class="row justify-content-center">
                                    {% for association in batch %}
                                        <div class="col-6 col-lg-2 align-self-center">
                                            <img class="d-block w-100 px-3 mb-3" src="{{ asset('/images/asso/' ~ association.imageNameAsso) }}" alt="">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselLogos" data-bs-slide="prev">
                        {# <span class="carousel-control-prev-icon" aria-hidden="true"></span> #}
                        <span class="visually-visible text-dark text-start"><i data-feather="chevron-left"></i></span>
                    </button>
                    <button class="carousel-control-next " type="button" data-bs-target="#carouselLogos" data-bs-slide="next">
                        {# <span class="carousel-control-next-icon" aria-hidden="true"></span> #}
                        <span class="visually-visible text-dark text-end"><i data-feather="chevron-right"></i> </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
