{% extends 'base.html.twig' %}
{% block title %}Devenir Hôte{% endblock %}
{% block stylesheets %}
<head>
    <meta charset="UTF-8">
    <title>Page Admin</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
{% endblock %}
{% block body %}
<div class="banner-host">
    <div class="banner-text">
    {% for flash_error in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    </div>
</div>


<div class="text-center my-4">
 <h1 class="titlehost">Devenir Hôte</h1>
 <h3 class="title-infos">Informations personnelles</h3>
</div>

    

    <section class="container m-auto w-75 mt-3 rounded py-2 my-4" id="register-container" >
        {{ form_start(HostForm) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(HostForm.lastName) }}
            </div>
            <div class="col-md-6">
                {{ form_row(HostForm.firstName) }}
            </div>

            <div class="col-md-6">
                {{ form_row(HostForm.phoneNumber) }}
            </div>
            <div class="col-md-6">
                {{ form_row(HostForm.email) }}
            </div>
        </div>
        <button type="submit" class="btn btn-success " style="text-align: center">Valider</button>
    </section>

   
    {{ form_end(HostForm) }}


{% endblock %}