{% extends 'base.html.twig' %}
{% block title %}Devenir Hôte{% endblock %}
{% block stylesheets %}
<head>
    <meta charset="UTF-8">
    <title>Page Admin</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
{% endblock %}
{% block body %}
<div class="banner-host">
    <div class="banner-text">
        <h1 class="titlehost">Devenir Hôte</h1>
    </div>
</div>
<h3 class="title-infos">Informations sur l'hébergement que vous proposez</h3>
<div>

    {% for flash_error in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <section class="cadre">
        {{ form_start(HostForm) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(HostForm.lastName) }}
            </div>
            <div class="col-md-6">
                {{ form_row(HostForm.firstName) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ form_row(HostForm.phoneNumber) }}
            </div>
            <div class="col-md-6">
                {{ form_row(HostForm.email) }}
            </div>
        </div>

        <div class="row">
            
        <div class="row">
            <div class="col-md-12">
                {# {{ form_row(HostForm.agreeTerms) }} #}
            </div>
        </div>
    </section>

    <button type="submit" class="btn btn-success" style="text-align: center">Valider</button>
    {{ form_end(HostForm) }}

</div>
{% endblock %}