{% extends 'base.html.twig' %}
{% block title %}S'enregistrer{% endblock %}
{% block body %}

</div>
<h3 class="text-center my-5 sousTitre-profil-asso">Informations personnelles</h3>
{% for flash_error in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <section  class="container m-auto w-75 mt-3 rounded py-2" id="register-container">
        {{ form_start(registrationAssoForm) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(registrationAssoForm.nameAsso) }}
                 {{ form_row(registrationAssoForm.phoneNumberAsso) }}
                 {{ form_row(registrationAssoForm.imageFile) }}
                {{ form_row(registrationAssoForm.descriptionAsso) }}
                
            </div>
            <div class="col-md-6">
                {{ form_row(registrationAssoForm.immatriculationAsso) }}
                  {{ form_row(registrationAssoForm.websiteUrl) }}

                 {{ form_row(registrationAssoForm.email) }}
                 {{ form_row(registrationAssoForm.plainPassword, {
                    label: 'Password'
                }) }}
                 {{ form_row(registrationAssoForm.agreeTerms) }}
                 <button type="submit" class="btn btn-success" id="btn-login">Valider</button>
                
            </div>
        </div>
    </section>
 {{ form_end(registrationAssoForm) }}
            {# <div class="col-md-6">
                {{ form_row(registrationAssoForm.department) }}
            </div> #}
      

        
            
            {# <div class="col-md-6">
                {{ form_row(registrationAssoForm.plainPasswordConfirm, {
                    label: 'Confirm Password'
                }) }}
        </div> #}    
    

    
   

</div>
{% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<div>
    <img src="/images/welcomehome.png" class="rounded mx-auto d-block w-25 img-fluid" alt="...">
</div>
{% endblock %}