{% extends 'base.html.twig' %}
{% block title %}Inscription association{% endblock %}
{% block body %}

{# pop up confirmation envoie email #}
{% for label, messages in app.flashes() %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

</div>
<h3 class="text-center my-5 sousTitre-profil-asso">Renseignez les informations de votre association</h3>
{% for flash_error in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <section  class="container m-auto w-75 mt-3 rounded py-2" id="register-container">
        {{ form_start(registrationAssoForm) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(registrationAssoForm.nameAsso, {
                'attr': {
                    'pattern': '^[a-zA-Z0-9\s ]+$',
                    'title': 'Seuls les lettres et les espaces sont autorisés'
                }
            }) }}
                {{ form_row(registrationAssoForm.phoneNumberAsso) }}
                {{ form_row(registrationAssoForm.imageFile) }}
                {{ form_row(registrationAssoForm.descriptionAsso) }}
                
            </div>
            <div class="col-md-6">
                {{ form_row(registrationAssoForm.immatriculationAsso) }}
                {{ form_row(registrationAssoForm.websiteUrl) }}

                {{ form_row(registrationAssoForm.email,
                {'attr': {'pattern': '[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$', "title":"erreur"}})
                }}
                {{ form_row(registrationAssoForm.plainPassword, {
                    label: 'Password',
                    'attr': {
                    'pattern': '/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&+=!]).+$/',
                    'title': 'Le mot de passe doit contenir au moins 8 caractères, une minuscule, une majuscule, un chiffre et un caractère spécial.'
                    } 
                }) }}
                <p>Le mot de passe doit contenir au moins 8 caractères, une minuscule, une majuscule, un chiffre et un caractère spécial.</p>
                <input class="form-check-label" type="checkbox">
                J'accepte les <a href="{{ path('app_mentions_legales') }}">conditions d'utilisation</a>

            </input>
                <button type="submit" class="btn btn-success" id="btn-login">Valider</button>
                
            </div>
        </div>
    </section>
{{ form_end(registrationAssoForm) }}

</div>
{% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<div>
    <img src="/images/welcomehome.png" class="rounded mx-auto d-block w-25 img-fluid" alt="...">
</div>
{% endblock %}