{% extends 'base-backend.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
{% for label, messages in app.flashes() %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
        {% endfor %}
{% endfor %}
     <div class="d-flex flex-wrap justify-content-between align-items-center">
    <h1>Catégorie</h1>
    <a href="{{ path('app_admin_category_new') }}"class="btn btn-success"><i class="align-middle" data-feather="plus"></i></a> 
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NameCat</th>
                <th>UpdatedAt</th>
                <th>SlugCat</th>
                <th class="text-end">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.nameCat }}</td>
                <td>{{ category.updatedAt ? category.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ category.slugCat }}</td>
                <td class="text-end">
                    <a href="{{ path('app_admin_association_show', {'id': association.id}) }}"class="btn btn-warning"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_association_edit', {'id': association.id}) }}"class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
