{% extends 'base.html.twig' %}

{% block title %}Comment ça marche ?{% endblock %}

{% block body %}
    <div class="banner background-banniere">
        <img src="/images/banniere3.png" alt="BannièrePageLodging">
        <div class="banner-text">
            <h1>Comment trouver un hébérgement?</h1>
        </div>
    </div>

    <div class="container-lg py-5">
        <div class="row">
                <div class="col-md-12 info-asso-start">
                    <div class="mb-3">
                        <div class="card-body color-card-asso">
                            <div class="number-container text-center fs-2   ">1</div>
                            <div class="text-align">
                                <h5>Renseigner les informations</h5>
                                <p>Nom de l'association, immatriculation<br> et moyens de contact (télphone, email) </p>
                            </div>    
                        </div>
                    </div>
                </div>

                </div>

                <div class="col-md-12 info-asso-start">
                    <div class="mb-3 images-CCM">
                        {# <link rel="icon" type="image/png" href="{{ asset('/images/logo.png') }}" /> #}
                        <img src="/images/fleche1.png" class=" w-25" alt="...">
                        <img src="{{ asset('/images/Cmmt ça marche Asso/asso_name_.png')}}" class="img-fonction-right" alt="...">

                    </div> 
                </div> 

        <div class="col-md-12 info-asso-start">
                <div class="mb-3 images-CCM">
                    <img src="/images/fleche1.png" class=" w-25" alt="...">
                    <img src="{{ asset('/images/Cmmt ça marche Asso/asso_immatricule_.png')}}" class="img-fonction-right" alt="...">
                </div>    
        </div>

    <div class="container-lg py-5">
        <div class="row">
            <div class="col-md-12 info-asso-start">
                <div class="mb-3 ">
                    <div class="card-body color-card-asso">
                    <div class="number-container text-center fs-2">2</div>
                    <div>
                        <h5>Votre association</h5>
                        <p>Site web, logo et description </p>
                    </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 info-asso-start">
                    <div class="mb-3 images-CCM">
                        <img src="/images/fleche1.png" class=" w-25" alt="...">
                        <img src="{{ asset('/images/Cmmt ça marche Asso/asso_site_web_.png')}}" class="img-fonction-right" alt="...">
                    </div> 
            </div> 

            <div class="col-md-12 info-asso-start">
                    <div class="mb-3 images-CCM">
                        <img src="/images/fleche1.png" class=" w-25" alt="...">
                        <img src="{{ asset('/images/Cmmt ça marche Asso/asso_logo_desrip_.png')}}" class="img-fonction-right" alt="...">
                    </div> 
            </div> 

            <div class="col-md-12 info-asso-end">
                        <div class="mb-3">
                            <div class="card-body color-card-asso">
                            <div class="number-container text-center fs-2">3</div>
                            <div>
                                <h5>Accepter les conditions et valider</h5>
                                <p>Conditions générales d’utilisation</p>
                            </div>
                            </div>
                        </div>
                </div> 
            </div>   
        </div>


        <div class="col-md-12 info-asso-start">
                <div class="mb-3 images-CCM">
                    <img src="/images/fleche1.png" class=" w-25" alt="...">
                    <img src="/images/Cmmt ça marche Asso/condition_valider_.png" class=" w-25" alt="...">

                </div>    
        </div>
    </div>    

    <p class="text-center" id="text-CCM">Vous êtes prêt, rejoignez-nous !</p>


    <div class="row">
        <div class="col-md-12 text-center">
            <a href="{{path('app_register_asso') }}" class="btn text-center" id="find-lodging">Devenir membre</a>
        </div>
    </div>


{% endblock %}
