{% extends 'base.html.twig' %}

{% block title %}Mon Compte Hôte{% endblock %}

{% block body %}
<h1>Mon compte</h1>
<section class="cadre">
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="profil-tab" data-bs-toggle="tab" data-bs-target="#profil-tab-pane" type="button" role="tab" aria-controls="profil-tab-pane" aria-selected="true">Mes informations</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="lodging-tab" data-bs-toggle="tab" data-bs-target="#lodging-tab-pane" type="button" role="tab" aria-controls="lodging-tab-pane" aria-selected="false">Mes logements</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="ask-tab" data-bs-toggle="tab" data-bs-target="#ask-tab-pane" type="button" role="tab" aria-controls="ask-tab-pane" aria-selected="true">Mes demandes</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="favori-tab" data-bs-toggle="tab" data-bs-target="#favori-tab-pane" type="button" role="tab" aria-controls="favori-tab-pane" aria-selected="false">Mes favoris</button>
    </li>
</ul>
{{form_start(hostForm) }}
    {# Section mes informations personnelles #}
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="profil-tab-pane" role="tabpanel" aria-labelledby="profil-tab" tabindex="0">

        <div class="col-12">
    <div class="row">
        <div class="col-md-6">
            {{ form_row(hostForm.email) }}
            {{ form_row(hostForm.lastName) }}
        </div>
        <div class="col-md-6">
            {{ form_row(hostForm.plainPassword) }}
            {{ form_row(hostForm.firstName) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(hostForm.address) }}
            {{ form_row(hostForm.entreprise) }}
        </div>
        <div class="col-md-6">
            {{ form_row(hostForm.phoneUser) }}
            {{ form_row(hostForm.fonction) }}
        </div>
    </div>
</div>
    </div>

    {# Section mes logements #}
    <div class="tab-pane fade" id="lodging-tab-pane" role="tabpanel" aria-labelledby="lodging-tab" tabindex="0">
    {# <a href="{{ path('app_mylodging') }}">Ajouter un logement</a> #}
    {# {{form_row(hostForm.description) }} #}
    <ul class="lodgings"
        data-index="{{ hostForm.lodgings|length > 0 ? hostForm.lodgings|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(hostForm.lodgings.vars.prototype)|e('html_attr') }}">
    </ul>
    <button type="button" class="add_item_link btn btn-primary" data-collection-holder-class="lodgings">Ajouter un logement</button>
        {# <a href="{{ path('app_compte_host_mylodging') }}></a> #}
        {# {{ include('compte_host/_mylodging.html.twig') }} #}
    </div>
    <button type="submit" class="btn btn-primary">Valider</button>
    

</div>
{{form_end(hostForm) }}
</section>

{% endblock %}

    {# <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
    {% if app.user.guests|length > 0 %}
    <ul>
    {% for user in app.user.guests %}
    <li>{{ guest.titre }} <a href="{{ path('remove_favori', { id : guest.id }) }}">Supprimer</a></li>
    {% endfor %}
    </ul>

    {% else %}
    <p>Vous n'avez pas de favoris pour le moment</p>
    {% endif %}
    </div>

    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
    <h2>Mes logements</h2>

    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
    <h2>Mes demandes</h2> #}
{% block javascripts %}
<script>
const addFormToCollection = (e) => {
const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

const item = document.createElement('li');

item.innerHTML = collectionHolder
    .dataset
    .prototype
    .replace(
    /__name__/g,
    collectionHolder.dataset.index
    );

collectionHolder.appendChild(item);

collectionHolder.dataset.index++;
};

document
    .querySelectorAll('.add_item_link')
    .forEach(btn => {
    btn.addEventListener("click", addFormToCollection)
});
</script>
{% endblock %}
