{% extends 'base.html.twig' %}

{% block title %}Lodging!{% endblock %}

{% block body %}

{# <div class="card">
    <img src="{{ asset('/images/banniere.png') }}" class="card-img-top" alt="...">
</div>
    <h1 class="mb-3"><i data-feather="home"></i> Nos derniers logements <i data-feather="home"></i></h1>
    
    <div class="row d-flex justify-content-center">
            {% for lodging in lodgings %}

        <div class="col-12 col-md-3 col-xl-2 mb-3">
            <div class="card">
                {% if  lodging.imageNameLog is defined and lodging.imageNameLog is not null  %}
                    <img  src="{{ asset('/images/lodgings/' ~ lodging.imageNameLod) }}" class="card-img-top" alt="...">
                    {% else %}
                    <img src="{{ asset('/images/lodgings/placeholer.png') }}" class="card-img-top" alt="...">
                    {% endif %}
                    
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        {% if app.user is not null %}
                        {% if lodging not in app.user.lodgings %}
                    <a href="{{ path ('add_favori', {id:lodging.id }) }}" class="btn btn-light rounded-circle position-absolute bottom-0 end-0 p-1 m-2">
                    <i data-feather="star" class="text-danger"></i>
                    </a>
                    {% else %}
                    <a href="{{ path ('remove_lodging', {id:lodging.id }) }}" class="btn btn-danger rounded-circle position-absolute bottom-0 end-0 p-1 m-2">
                    <i data-feather="heart" class="text-light"></i>
                    </a>
                    {% endif %}
                    {% endif %} 
                    #}
                    {# </div>
            </div>
        </div>
    </div>               #}
{# {% endfor %}  #}
<div class="container-lg py-4">
<h1 class="mb-3 text-center"><i data-feather="film"></i> Nos derniers logements <i data-feather="film"></i></h1>
<div class="row d-flex justify-content-center">
    {% for lodging in lodgings %}

    <div class="col-12 col-md-4 mb-3">
        <div class="card shadow text-center">

            <div class="position-relative">
                {% if lodging.imageName is defined and lodging.imageNameLod is not null %}
                <img src="{{ asset('/images/lodgings/' ~ lodging.imageNameLod) }}" class="card-img-top" alt="{{ lodging.titleLod }}">
                {% else %}
                <img src="{{ asset('/images/lodgings/placeholder.png') }}" class="img-fluid" alt="{{ lodging.titleLod }}">
                {% endif %}
                
            </div>


                <div class="card-body">
                <h5 class="card-title">{{ lodging.titleLod }}</h5>
                {% if lodging not in app.user.lodgings %}
                <a href="{{ path('add_favori', {id:lodging.id }) }}" class="btn btn-light rounded-circle position-absolute bottom-0 end-0 p-1 m-2">
                    <i data-feather="star" class="text-danger"></i>
                </a>
                {% else %}
                <a href="{{ path('remove_lodging', {id:lodging.id }) }}" class="btn btn-danger rounded-circle position-absolute bottom-0 end-0 p-1 m-2">
                    <i data-feather="star" class="text-light"></i>
                </a>
                {% endif %}
                <a href="{{ path('app_lodging_show', { slugLod: lodging.slugLod }) }}" class="btn btn-primary ">voir plus </a>
                </div>
                
            
        </div>
   </div>
    {% endfor %}
</div>
</div>
{% endblock %}
