{% extends 'base.html.twig' %}

{% block title %}Détails du logement{% endblock %}

{% block body %}

{% for label, messages in app.flashes() %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
        {% endfor %}
{% endfor %}

<div class="titrePageShow">
<h1>{{ lodging.titleLod }}</h1>
<p class="loc">Ville : {{lodging.cityLod}}</p> 
<p class="loc">Département : {{lodging.department}}</p>
</div>

<div class="row m-auto" id="picturesAlign">
    <div class="col-12 col-md-6">
            <img src="{{ asset('/images/lodgings/' ~ lodging.imageNameLod) }}" class="img-fluid imageLodgingShow rounded-start" alt="...">
    </div>
    <div class="col-12 col-md-6 ">
        <div class="row d-flex justify-content-center">
            <img src="{{ asset('/images/lodgings/' ~ lodging.imageNameLod) }}" class="img-fluid w-50 mb-3 " alt="...">
            <img src="{{ asset('/images/lodgings/' ~ lodging.imageNameLod) }}" class="img-fluid w-50 mb-3 rounded-end" alt="...">
            <img src="{{ asset('/images/lodgings/' ~ lodging.imageNameLod) }}" class="img-fluid w-50 " alt="...">
            <img src="{{ asset('/images/lodgings/' ~ lodging.imageNameLod) }}" class="img-fluid w-50 rounded-end" alt="...">
        </div>
    </div>
    <h3 class="titrePageShow">Chez {{lodging.host.firstName}}</h3>
</div>

<hr class="my-3 mx-5">

<div class="my-3 mx-5">
    <p>{{ lodging.descriptionLod }}</p>
</div>

<div class="row">
    <div class="col-md-6">
        {% for equipement in lodging.equipements %}
            <p>{{ equipement.DescriptionEquip}}</p>
        {% endfor %}
    </div>
    <div class="col-md-6">
        {# {{ form_row(HostForm.email) }} #}
    </div>
</div>

{# 

<hr class="my-5 mx-5">
<div class="row col-12 col-md-6 alignOption" >
    <div class="optionLodging">
        <i class="fa-regular fa-bed"></i>
        <p>Lit une place</p>
    </div>

    <div class="optionLodging">
        <i class="fa-solid fa-wifi"></i>
        <p>wifi</p>
    </div>

    <div class="optionLodging">
        <i class="fa-light fa-tv"></i>
        <p>télévision</p>
    </div>

    <div class="optionLodging">
        <i class="fa-regular fa-hat-chef"></i>
        <p>kitchennette</p>
    </div>
</div> #}

<form method="post">
    <button type="submit" class="btn btn-success" style="text-align: center">Envoyer une demande</button>
</form>


{# <div>
<a href="{{ path('app_lodging_show', { 'slugLod': lodging.slugLod }) }}" class="btn btn-primary">Envoyer une demande</a>
</div>

<div class="card-body">
<a href="{{ path('app_lodging_show', {slugLod: lodging.slugLod}) }}" class="text-dark">{{ lodging.titleLod }}Mettre en favoris</a>
        {% if app.user is not null %} 
        {% if lodging not in app.user.lodgings %}
        <a href="{{ path('app_favori', {id: lodging.id }) }}" class="mt-3 btn btn-dark">Ajouter aux favoris</a>
        {% endif %}
        {% endif %}
</div> #}

{% endblock %}