{% extends 'base.html.twig' %}

{% block title %}Détails du logement{% endblock %}

{% block body %}

{% for label, messages in app.flashes() %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
        {% endfor %}
{% endfor %}

<div class="titrePageShow">
<h1>{{ lodging.titleLod }}</h1>
<p class="loc">Ville : {{lodging.cityLod}}</p> 
<p class="loc">Département : {{lodging.department}}</p>
</div>

<div class="row m-auto" id="picturesAlign">
    <div class="col-12 col-md-6">
            <img src="{{ asset('/images/lodgings/' ~ lodging.imageNameLod) }}" class="img-fluid imageLodgingShow rounded-start" alt="...">
    </div>
    <div class="col-12 col-md-6 ">
        <div class="row d-flex justify-content-center">
            <img src="{{ asset('/images/lodgings/' ~ lodging.imageNameLod) }}" class="img-fluid w-50 mb-3 " alt="...">
            <img src="{{ asset('/images/lodgings/' ~ lodging.imageNameLod) }}" class="img-fluid w-50 mb-3 rounded-end" alt="...">
            <img src="{{ asset('/images/lodgings/' ~ lodging.imageNameLod) }}" class="img-fluid w-50 " alt="...">
            <img src="{{ asset('/images/lodgings/' ~ lodging.imageNameLod) }}" class="img-fluid w-50 rounded-end" alt="...">
        </div>
    </div>
    <h3 class="titrePageShow">Chez {{lodging.host.firstName}}</h3>
</div>

<hr class="my-3 mx-5">

<h4 class="my-3 mx-5">Description</h4>

<div class="my-3 mx-5">
    <p>{{ lodging.descriptionLod }}</p>
</div>

<hr class="my-3 mx-5">

<h4 class="my-3 mx-5">Equipements</h4>

<div class="row">
    <div class="col-md-6 my-3 mx-5">
        {% for equipement in lodging.equipements %}
    <li>{{ equipement }}</li>
    {% endfor %}
    </div>
    <div class="col-md-6">
        {# {{ form_row(HostForm.email) }} #}
    </div>
</div>

<form method="post">
    <button type="submit" name="submit_request" class="btn btn-success my-3 mx-5" style="text-align: center">Envoyer une demande</button>
</form>



{% endblock %}