{% extends 'base.html.twig' %}
{% block title %}Hello CommentCaMarcheController!{% endblock %}
{% block stylesheets %}
<head>
    <meta charset="UTF-8">
    <title>Page Admin</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
{% endblock %}
{% block body %}
<div class="banner-host">
        <div class="banner-text">
            <h1 class="titlehost">Devenir Hôte</h1>
        </div>
</div>
        <h3 class="title-infos">Informations personnelles</h3>
    <div>

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

<section class="cadre">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.lastName) }}
        {{ form_row(registrationForm.firstName) }}

        {{ form_row(registrationForm.phoneUser) }}
        {{ form_row(registrationForm.email) }}

        {{ form_row(registrationForm.entreprise) }}
        {{ form_row(registrationForm.profession) }}
        
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        {{ form_row(registrationForm.agreeTerms) }}
</section>

        <button type="submit" class="btn btn-success">Valider</button>
    {{ form_end(registrationForm) }}
    
{% endblock %}
        {# </div>
        <div class="container ">
            <div class=" row">
                <div class="col-md-12 info-guest-start">
                    <div class=" mb-3">
                        <div class="card-body color-card-guest">
                            <h5>Reseigner vos informations</h5>
                            <p>Identité, coordonnées et contact</p>
                        </div>
                    </div>
                    <img src="" class="img-thumbnail" alt="...">
                </div>
                <div class="col-md-12 info-guest-end">
                    <div class="mb-3 ">
                        <div class="card-body color-card-guest">
                            <h5>Dites nous l'association qui vous suit</h5>
                            <p>Nom de l'association et son immatriculation</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" row ">
                <div class="col-md-12 info-guest-start">
                    <div class="mb-3 ">
                        <div class="card-body color-card-guest">
                            <h5>Reseigner vos informations</h5>
                            <p>Identité, coordonnées et contact</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 info-guest-end">
                    <div class="mb-3 ">
                        <div class="card-body color-card-guest">
                            <h5>Dites nous l'association qui vous suit</h5>
                            <p>Nom de l'association et son immatriculation</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="#" class="btn btn-dark mb-3">Trouver mon logement</a>
            </div>
        </div>
    </div> #}
