{% extends 'base-backend.html.twig' %}

{% block title %}Association index{% endblock %}

{% block body %}
{% for label, messages in app.flashes() %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
        {% endfor %}
{% endfor %}

    <div class="d-flex flex-wrap justify-content-between align-items-center">
    <h1>Association</h1>
    <a href="{{ path('app_admin_association_new') }}"class="btn btn-success"><i class="align-middle" data-feather="plus"></i></a> 
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>nameAsso</th>
                <th>descriptionAsso</th>
                <th>WebsiteUrl</th>
                <th>imageNameAsso</th>
                <th>phoneNumberAsso</th>
                <th>emailAsso</th>
                <th>slugAsso</th>
                <thclass="text-end">actions</thclass=>
            
            </tr>
        </thead>
        <tbody>
        {% for association in associations %}
            <tr>
                <td>{{ association.id }}</td>
                <td>{{ association.nameAsso }}</td>
                <td>{{ association.descriptionAsso }}</td>
                <td>{{ association.websiteUrl }}</td>
                <td>{{ association.imageNameAsso }}</td>
                <td>{{ association.phoneNumberAsso }}</td>
                <td>{{ association.emailAsso }}</td>
                <td>{{ association.slugAsso }}</td>
                <td class="text-end">
                    <a href="{{ path('app_admin_association_show', {'id': association.id}) }}"class="btn btn-warning"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_association_edit', {'id': association.id}) }}"class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
