{% extends 'base.html.twig' %}

{% block title %}Mon Compte Association{% endblock %}

{% block body %}

<h1 class="compte-asso">Mon compte Association</h1>

<div class="info-asso container mb-2">
        <div class=" form-group info-asso-style">
            <label for="inputInterets" class="titre-select-job">Organisme qui effectue l’inscription</label>
            <div class="custom-select-wrapper">
                <select class="form custom-select select-job" id="inputInterets" onchange="updateSelectedInterests()">
                    <option placeholder="sport"></option>
                    <option value="sport">Sport</option>
                    <option value="musique">Musique</option>
                    <option value="lecture">Lecture</option>
                    <option value="voyages">Voyages</option>
                </select>
            </div>
        </div>
        <div class=" form-group info-asso-style">
            <label for="inputInterets" class="titre-select-job">Numéro d’immatriculation de l’organisme</label>
            <div class="custom-select-wrapper  ">
                <select class="form custom-select select-job" id="inputInterets" onchange="updateSelectedInterests()">
                    <option placeholder="sport"></option>
                    <option value="sport">Sport</option>
                    <option value="musique">Musique</option>
                    <option value="lecture">Lecture</option>
                    <option value="voyages">Voyages</option>
                </select>
            </div>
    </div>
</div>

<h1 class="text-center titre-profil-asso">Enregistrer un nouveau profil asso</h1>



<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Mes infos</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Mes favoris</button>
    </li>
</ul>
    <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
    <div class="container col-12 mx-5 w-5 rounded" id="profil-container">
    {#On affiche un formulaire #}
        {{form_start(form) }}
        {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Modifier</button>
        {{form_end(form) }}
    </div>
    </div>

{% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

</div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">

<div class="container-lg py-4 m-auto">
        <h2 class="mb-3 text-center"> Mes favoris </h2>

        {% if app.user.lodgings|length > 0 %}
            <div class="row d-flex justify-content-center">

            {% for lodging in app.user.lodgings %}
                <div class="col-12 col-md-4 col-xl-3 mb-3"> 
                    <div class="card shadow">

                        <div class="position-relative">
                            {% if  lodging.imageNameLod is defined and lodging.imageNameLod is not null  %}
                            <img src="{{ asset('/images/lodgings/' ~ lodging.imageNameLod) }}" class="card-img-top" alt="{{lodging.titleLod}}">
                            {% else %}
                            <img src="{{ asset('/images/lodgings/placeholder.png') }}" class="img-fluid" alt="{{lodging.titleLod}}">
                            {% endif %}
                            
                            <a href="{{ path ('remove_lodging', {id:lodging.id }) }}" class="btn btn-danger rounded-circle position-absolute bottom-0 end-0 p-1 m-2">
                            <i data-feather="star" class="text-light"></i>
                            </a>
                        </div>
                        <div class="card-body text-center">
                            <a href="{{ path ('app_lodging_show', { slugLod: lodging.slugLod }) }}" class="btn btn-primary">{{lodging.titleLod}}</a>
                            <p class="card-text">{{lodging.descriptionLod}}</p>
                        </div>

                    </div> 
                    {# fin de la card #}
                </div>
                {# fin de la div col-12 #}
            {% endfor %}

            </div>
            {# fin de la div row  #}

        {% else %}
        <p class="text-center">Vous n'avez aucun favori pour l'instant.</p>

        {% endif %}

</div>

    

{% endblock %}


